@using SummerPractice2026Blazor.Repository.Entities
@using SummerPractice2026Blazor.Repository.Interfaces
@inject IArticleRepository articleRepository

<div class="article-list-container">
  <ArticleCategoryFilter OnCategorySelected="FilterByCategory" />

  <div class="article-list">
    @if (IsLoading)
    {
      <div class="loading-overlay">
        <img src="/images/loading.gif" alt="Loading" />
      </div>
    }
    else
    {
      @foreach (var article in FilteredArticles)
      {
        <ArticleCard Item="article" />
      }
    }
  </div>
</div>

@code {
  [Parameter]
  public string SearchText { get; set; } = string.Empty;

  private bool IsLoading;

  private IEnumerable<Article> Articles { get; set; } = [];
  private IEnumerable<Article> FilteredArticles { get; set; } = [];

  private Guid? SelectedCategoryId { get; set; }

  protected override async Task OnInitializedAsync()
  {
    IsLoading = true;
    await LoadArticles();
    IsLoading = false;
  }

  protected override void OnParametersSet()
  {
    ApplyFilters();
  }

  private async Task LoadArticles()
  {
    Articles = await articleRepository.GetAllArticlesAsync();
    ApplyFilters();
  }

  private void FilterByCategory(Guid? categoryId)
  {
    IsLoading = true;

    SelectedCategoryId = categoryId;
    ApplyFilters();

    IsLoading = false;
  }

  private void ApplyFilters()
  {
    var query = Articles.AsEnumerable();

    if (SelectedCategoryId is not null)
    {
      query = query.Where(article => article.ArticleCategoryId == SelectedCategoryId);
    }

    if (!string.IsNullOrWhiteSpace(SearchText))
    {
      query = query.Where(article =>
        article.Name.Contains(SearchText, StringComparison.OrdinalIgnoreCase) ||
        (article.Description != null &&
        article.Description.Contains(SearchText, StringComparison.OrdinalIgnoreCase))
      );
    }

    FilteredArticles = query;
  }
}